<div class="jumbotron">
  <img src="images\icsrgLogos\7 Stripe Logo White.png" alt="ICSRG Logo" class="img-fluid" alt="Responsive image">
  <h1 class="display-4">About ICSRG</h1>
  <p class="lead">ICSRG stands for Inter Continental Sim Racing Group.</p></br>
  <p>We were founded during the peak of the pandemic during 2020 originally based on Project Cars 2 on PS4.</p>
  <p>However things opened up and participation dwindled so the main focus switched to iRacing in 2021,</p>
  <p>We are now a blossoming team on the service participating in various events across the Road and Oval offerings on iRacing</p>
  <p>We have drivers from all across the world and are more than a team. We went from a sim racing communtiy to a group of friends.</p>
  <p>Interested in hearing more? Join our discord below and have a chat with us!</p>
  <button type="button" class="btn btn-primary" href="https://discord.gg/qPMX7wPAUH">Our Discord</button>
  </div>
  <hr class="my-4">
</div>