<div class="jumbotron">
<h3 class="text-center">Click on a driver to learn more</h3>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <button class="btn btn-default">
     <img src="images\DriverHelmets\Harry-removebg-preview.png"/> Harry George
</button>
    </div>
    <div class="col">
     <button class="btn btn-default">
     <img src="images\DriverHelmets\Seb Helmet.png"/> Seb Pos
    </div>
    <div class="col">
      <button class="btn btn-default">
     <img src="images\DriverHelmets\Ryan Helmet.png"/> Ryan Freeman
    </div>
    </br>
  </div>
    <div class="row">
    <div class="col">
     <button class="btn btn-default">
     <img src="images\DriverHelmets\Karl-removebg-preview.png"/> Karl
    </div>
    <div class="col">
     <button class="btn btn-default">
     <img src="images\DriverHelmets\Hank-removebg-preview.png"/> Hardware Hank
    </div>
    <div class="col">
     <button class="btn btn-default">
     <img src="images\DriverHelmets\Exo-removebg-preview.png"/> Exo
    </div>
  </div>
 </div>
</div>