<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="\images\PenguinPaintShopLogo\900by400Logo.png" alt="Penguin Paint Shop Logo" /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Penguin Paint Shop</h1>
            <p>Penguin Paintshop is a proud partner of ICSRG. Making the paints for all of their individual and team efforts.</p>
            <p>Below are the paints created by Penguin Paint Shop, for any more enquires visit their trading paints page and message Harry.</p>
            <a class="btn btn-primary" href="https://www.tradingpaints.com/profile/440862/Harry-George">Penguin Paint Shop Trading Paints</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Below here are the paints used for all of our races! Click on them for more information!</p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Crevantic 12 Hours of Imola</h2>
                    <h3 class="card-text"> Love/Hate </h3>
                    <h4 class="card-text"> Aston Martin GT4 </h4>
                    <img class="img-fluid rounded" src="\images\CarPaints\Imola12hr2022\Love Hate WIP 5.png"/>
                    <p class="card-text">Spawned from a discussion we had about our views of Imola. It is a track we love to drive but can hate to race.</p>
                    <p class="card-text">When we decided to partake in the Crevantic 12 Hours of Imola, a paint referencing this conversation had to be made.</p>
                    <p class="card-text">Leaning into the full pop punk aesthetic. The driver suits were designed to look fresh from Hot Topic.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">24 Hours Of Spa</h2>
                    <h3 class="card-text"> Harlequin </h3>
                    <h4 class="card-text"> AMG Mercedes GT3 </h4>
                    <img class="img-fluid rounded" src="\images\CarPaints\Spa24hr2022\HQuin WIP 1.png"/>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus
                        at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates
                        quos eligendi labore.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">6 Hours Of The Glen</h2>
                    <h3 class="card-text"> 1 Year of ICSRG on iRacing </h3>
                    <h4 class="card-text"> Ferrari 488 GT3 </h4>
                    <img class="img-fluid rounded" src="\images\CarPaints\6HrsGlen\WIP Spec Map Watkins Ferrari.png"/>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <!-- start of card -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Nurburgring 24 Hours</h2>
                    <h3 class="card-text"> ICSRG Flow </h3>
                    <h4 class="card-text"> Aston Martin GT4 </h4>
                    <img class="img-fluid rounded" src="\images\CarPaints\Imola12hr2022\Love Hate WIP 5.png"/>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <!-- end of card -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Sebring 12 Hours</h2>
                    <h3 class="card-text"> Tropicana Sunshines </h3>
                    <h4 class="card-text"> Porsche 911 GT3R </h4>
                    <img class="img-fluid rounded" src="\images\CarPaints\Imola12hr2022\Love Hate WIP 5.png"/>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <!-- end of card -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Bathurst 12 Hours</h2>
                    <h3 class="card-text"> VB Longneck </h3>
                    <h4 class="card-text"> Ferrari 488 GT3 </h4>
                    <img class="img-fluid rounded" src="\images\CarPaints\Imola12hr2022\Love Hate WIP 5.png"/>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <!-- end of card -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Daytona 24</h2>
                    <h3 class="card-text"> ICSRG Red </h3>
                    <h4 class="card-text"> Dallara P217 LMP2 </h4>
                    <img class="img-fluid rounded" src="\images\CarPaints\Imola12hr2022\Love Hate WIP 5.png"/>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <!-- end of card -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Daytona 24</h2>
                    <h3 class="card-text"> ICSRG Purple </h3>
                    <h4 class="card-text"> Dallara P217 LMP2 </h4>
                    <img class="img-fluid rounded" src="\images\CarPaints\Imola12hr2022\Love Hate WIP 5.png"/>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <!-- end of card -->        
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>